[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
nest-asyncio = "*"
discord-py = "*"
tweepy = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.9"
